*.js
*.js.map
*.log
!scripts/*.js
bluerange-toolbox/app/*.js
!bluerange-toolbox/karma.conf.js
!bluerange-toolbox/app/tests/*.js
bluerange-toolbox/*.d.ts
!bluerange-toolbox/references.d.ts
bluerange-toolbox/lib
bluerange-toolbox/platforms
bluerange-toolbox/node_modules
node_modules
nativescript-utils.zip
.DS_Store
/.vscode
/wurst
/platforms
