.login-card {
  width: 100%;
  height: 100%;
}
Page{
  background-color: #485563;
}

.blackCard {
  color: #333;
  width: 50%;
  height: 500px;
  justify-content: flex-end;
  align-self: center;
  .form {
    display: flex;
    background-color: white;
    width: 100%;
    padding: 12px;
    justify-content: center;
  }
}
