<RadSideDrawer #drawer showOverNavigation="true">
     <StackLayout tkDrawerContent class="sideStackLayout">
    <StackLayout class="sideTitleStackLayout">
      
    </StackLayout>
    <StackLayout class="sideStackLayout">
      <CardView margin="10" width="100%" radius="10" elevation="15" shadowOffsetWidth="10" shadowOffsetHeight="10" class="whiteCard">
        <FlexBoxLayout flexDirection="column" justifyContent="flex-start" backgroundColor="white">
          <Image src="~/assets/images/icon-black.png" height="100" stretch="aspectFit"  class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
          <!--<Label color="black" class="lnr sky" alignSelf="center" [text]="userIcon|icon"></Label>-->
          <Label paddingLeft="16" marginTop="35" height="35" [text]="'User: '+ user"></Label>
          <Label paddingLeft="16" height="35" [text]="'E-mail: ' + email"></Label>
        </FlexBoxLayout>
      </CardView>
      <Label text="Devices" [nsRouterLink]="['/home/devices']" clearHistory="true" class="sideLabel sideLightGrayLabel"></Label>
      <Label text="Scanner" [nsRouterLink]="['/home/scanner']" clearHistory="true" class="sideLabel sideLightGrayLabel"></Label>
    </StackLayout>
    <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
  </StackLayout>

    <StackLayout tkMainContent>
        <GridLayout class="header headerColour" rows="auto, auto" columns="2*, 5*, 2*, 5*">
            <Label class="pull-right" text="open" (tap)="drawer.sideDrawer.showDrawer()" row="0" col="0"></Label>
        </GridLayout>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>